.location {
    background-color: #f8f9fa; /* Optional: to provide a background color */
    padding: 50px 20px; /* Adjust padding as needed */
    text-align: center; /* Center align text */
  }
  
  .location .headings {
    margin-bottom: 30px; /* Space between headings and content */
  }
  
  .location .headings h2 {
    color: #2d3954;
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
  }
  
  .location .headings p {
    font-size: 16px; /* Adjust as necessary */
    color: #666; /* Light color for description */
  }
  
  .location .content {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content */
    flex-wrap: wrap; /* Allow wrapping of boxes */
    gap: 20px; /* Space between boxes */
  }
  
  .location .box {
    position: relative;
    border-radius: 5px;
    width: calc(33.33% - 20px); /* Three boxes in a row with margin */
    overflow: hidden; /* Ensure that overflow is hidden */
    cursor: pointer; /* Change cursor to pointer */
  }
  
  .location img {
    border-radius: 5px;
    width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
  }
  
  /* Make overlay hidden by default */
  .location .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: none; /* Hide overlay initially */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%; /* Fill the entire box */
    width: 100%;
    color: #fff;
    z-index: 222;
  }
  
  /* Show overlay on hover */
  .location .box:hover .overlay {
    display: flex; /* Show overlay on hover */
  }
  
  .location .overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire area */
    height: 100%;
    background: rgba(15, 28, 47, 0.3); /* Overlay effect */
    z-index: -1;
  }
  
  .location h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 0; /* Remove default margin */
  }
  
  .location label {
    color: #fff;
    margin-right: 20px;
    opacity: 0.8;
  }
  
  @media screen and (max-width: 800px) {
    .location .box {
      width: calc(50% - 20px); /* Two boxes in a row on smaller screens */
    }
  }
  
  @media screen and (max-width: 500px) {
    .location .box {
      width: 100%; /* One box in a row on extra small screens */
    }
  }
  